# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
src/imgs
/server/env*
/server/api/manager/__pycache__
/server/api/skin_api/__pycache__
/server/api/skin_api/migrations
/server/db.sqlite3
/server/api/skin_api/calculate/__pycache__

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
