$maroon: #750f0f;
$softp: #fcf4f4;

.f-container {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
footer {
  padding-top: 25px;
}
footer p {
  text-align: center;
  font-size: 15px;
}
.h-container {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  background-color: $maroon;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  align-items: center;
  justify-content: space-between;
  h1 {
    flex: 1;
    padding: 15px;
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 5px 0px 0 #4c0202;
  }
}
.menu-items {
  display: flex;
  list-style: none;
}
.h-item {
  padding: 14px;
  padding: 15px;
  color: $softp;
  font-size: 25px;
  font-weight: 400;
  text-shadow: -5px 0px 0 #4c0202;
}
.h-item:hover {
  color: #dee2ec;
}

.header-link {
  text-decoration: none;
}
.h-link {
  text-decoration: none;
}
