$text: #474245;
$softp: #fcf4f4;
$rose: #750f0f;
$maroon: #750f0f;
$forange: #75420f;

@media screen and (max-width: 862px) {
  * {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: $softp;
  }
  h1 {
    font-size: 25px;
    color: $rose;
  }
  h2 {
    font-size: 20px;
    padding: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $softp;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    min-height: 65vh;
    padding: 5px;
    .text-section {
      margin: 10px;
      p {
        font-size: 15px;
        font-weight: 100;
        margin: 0;
      }
    }
    .surv {
      margin: 15px;
    }
  }
}

/*SURVEY*/
@media screen and (max-width: 862px) {
  .survey {
    width: 92%;
    margin: 0 auto;
    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
    }
  }
  .m-wrapper {
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    padding: 8px;
    .label .text {
      word-wrap: break-word;
      word-break: break-all;
      font-size: 1em;
      font-weight: 100;
    }
  }
  .m-radio h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    padding: 5px;
  }
}

/*RESULT */
@media screen and (max-width: 800px) {
  .result {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .result-c {
    display: flex;
    flex-direction: row;
    text-align: left;
    h3 {
      text-align: left;
      font-size: 15px;
    }
    p {
      text-align: left;
      font-size: 12px;
    }
  }
}

/*BUTTON*/
.btn-container {
  padding: 15px;
}

@media screen and (max-width: 800px) {
  /*survey*/
  .s-main {
    width: 100%;
  }
  .s-container {
    width: 95%;
    margin: auto;
    overflow: scroll;
    flex-direction: row;
  }
  .s-main h1 {
    text-align: center;
    font-size: 26px;
  }
  .s-main p {
    text-align: center;
    font-size: 13px;
  }
  .radiogroup {
    width: 100%;
    padding: 20px;
  }
  .radiogroup h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    opacity: 85%;
  }
  .radiogroup label {
    font-weight: 200;
    font-size: 14px;
  }
}
