/*home*/
$salmon: #ffa384;
$aqua: #74bdcb;
$babyb: #e7f2f8;
$fresia: #efe7bc;

$text: #474245;
$mutedb: #75420f;
$softp: #fcf4f4;
$rose: #750f0f;

$maroon: #750f0f;
$forange: #75420f;

@media screen and (max-width: 862px) {
  * {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: $softp;
  }
  h1 {
    font-size: 25px;
    color: $rose;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $softp;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    min-height: 65vh;
    padding: 5px;
  }
  .text-section {
    margin: 10px;
  }
  .text-section p {
    font-size: 13px;
    font-weight: 100;
    margin: 0;
  }
  .main-container .surv {
    margin: 15px;
  }
}

/*SURVEY*/
@media screen and (max-width: 862px) {
  .survey {
    width: 92%;
    margin: 0 auto;
    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
    }
  }
  .m-wrapper {
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    padding: 8px;
    .label .text {
      word-wrap: break-word;
      word-break: break-all;
      font-size: 1em;
      font-weight: 100;
    }
  }
  .m-radio h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    padding: 5px;
  }
}

/*RESULT */
@media screen and (max-width: 800px) {
  .result {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .result-c {
    display: flex;
    flex-direction: row;
    text-align: left;
    h3 {
      text-align: left;
      font-size: 15px;
    }
    p {
      text-align: left;
      font-size: 12px;
    }
  }
}

/*BUTTON*/
.btn-container {
  padding: 15px;
}

/*NAVIGATION*/

$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;
@media only screen and (max-width: 862px) {
  .nav-container {
    position: relative;
    background-color: $softp;
    overflow: hidden;
  }
  .nav-bar {
    float: right;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px;
  }
  header h1 {
    font-size: 25px;
    color: $rose;
  }
  .header-link {
    text-decoration: none;
  }
  #toggle {
    display: none;
  }
  #toggle:checked {
    & ~ .toggle-container .button-toggle {
      box-shadow: 0 0 0 500px rgba(252, 245, 244, 0.1),
        inset 0 0 0 20px rgba(252, 245, 244, 0.1);

      &:before {
        -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
        -moz-transform: translateY(-50%) rotate(45deg) scale(1);
        transform: translateY(-50%) rotate(45deg) scale(1);
      }

      &:after {
        -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
        -moz-transform: translateY(-50%) rotate(-45deg) scale(1);
        transform: translateY(-50%) rotate(-45deg) scale(1);
      }
    }

    & ~ .nav {
      margin-bottom: 50px;
      pointer-events: auto;
      transform: translate(20px, 20px);
      .nav-item {
        color: $rose;
        letter-spacing: 0;
        height: 30px;
        line-height: 40px;
        margin-top: 0;
        opacity: 1;
        transform: scaleY(1);
        transition: $transition-duration, opacity 0.1s;

        @for $i from 1 through $items {
          &:nth-child(#{$i}) {
            $delay: ($items - $i) * $transition-delay;
            transition-delay: $delay;
            &:before {
              transition-delay: $delay;
            }
          }
        }
        &:before {
          opacity: 0;
        }
      }
    }

    & ~ .main-sec {
      padding-top: 30px;

      &:before {
        background-color: rgba(252, 245, 244, 0);
      }
    }
  }
  .button-toggle {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: $transition-duration + 0.1;
    &:hover {
      box-shadow: 0 0 0 8px rgba(252, 245, 244, 0.4),
        inset 0 0 0 20px rgba(252, 245, 244, 0.4);
    }
    &:before,
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $rose;
      border-radius: 5px;
      transition: $transition-duration;
    }
    &:before {
      transform: translateY(-50%) rotate(45deg) scale(0);
    }
    &:after {
      transform: translateY(50%) rotate(-45deg) scale(0);
    }
  }

  .nav {
    display: inline-block;
    margin: 25px 25px 20px;
    pointer-events: none;
    transition: $transition-duration;
  }

  .nav-item {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    font-weight: 300;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: $transition-duration, opacity 1s;

    @for $i from 1 through $items {
      &:nth-child(#{$i}) {
        $delay: ($i - 1) * $transition-delay;
        transition-delay: $delay;
        &:before {
          transition-delay: $delay;
        }
      }
    }
    &:nth-child(1) {
      letter-spacing: -8px;
    }

    &:nth-child(2) {
      letter-spacing: -7px;
    }
    &:nth-child(n + 4) {
      letter-spacing: -8px;
      margin-top: -7px;
      opacity: 0;
    }
    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $rose;
      transform: translateY(-50%) scaleY(5);
      transition: $transition-duration;
    }
  }
}
@media screen and (max-width: 800px) {
  /*survey*/
  .s-main {
    width: 100%;
  }
  .s-container {
    width: 95%;
    margin: auto;
    overflow: scroll;
    flex-direction: row;
  }
  .s-main h1 {
    text-align: center;
    font-size: 26px;
  }
  .s-main p {
    text-align: center;
    font-size: 13px;
  }
  .radiogroup {
    width: 100%;
    padding: 20px;
  }
  .radiogroup h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    opacity: 85%;
  }
  .radiogroup label {
    font-weight: 200;
    font-size: 14px;
  }
}
