$maroon: #750f0f;
$forange: #75420f;

.s-main {
  width: 90%;
  margin: auto;
  padding: 15px 0 15px 0;
}
.s-container {
  padding: 15px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  background-color: #fcf5f4;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.s-main p {
  padding: 15px 0 15px 0;
}
p {
  font-size: 18px;
  font-weight: 100;
  margin-left: 15px;
}
h4 {
  font-size: 12px;
  font-weight: 100;
  margin-left: 15px;
}
.radiogroup {
  padding: 50px;
  border-radius: 16px;
}
.radiogroup h3 {
  padding-bottom: 15px;
}
.wrapper {
  margin: 8px 0;
}

input[type="radio"] {
  --active: #75420f;
  --active-inner: #fff;
  --focus: 2px rgba(168, 96, 25, 0.3);
  --border: #75420f;
  --border-hover: #f4a99f;
  --background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  &:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  &:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  &:hover {
    &:not(:checked) {
      --bc: var(--border-hover);
    }
  }
  &:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  &:not(.switch) {
    width: 21px;
    &:after {
      opacity: var(--o, 0);
    }
    &:checked {
      --o: 1;
    }
  }
  & + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
}

input[type="radio"] {
  border-radius: 50%;
  &:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  &:checked {
    --s: 0.5;
  }
}
