* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #727272;
}

*:before,
*:after {
  box-sizing: border-box;
}
.s-main {
  width: 80%;
  margin: auto;
  padding-top: 15px;
}

.s-container {
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}
p {
  font-size: 18px;
  font-weight: 100;
  margin-left: 15px;
}
h4 {
  font-size: 12px;
  font-weight: 100;
  margin-left: 15px;
}
/* f9e0eb */
.radiogroup {
  padding: 48px 64px;
  border-radius: 16px;
  background: #fcf2f6;
  box-shadow: 4px 4px 4px 0px #fae0eb inset, -4px -4px 4px 0px #ffffff inset;
}
.radiogroup h3 {
  padding-bottom: 15px;
  animation: fade 2.5s ease;
}
.wrapper {
  margin: 8px 0;
}
input[type="radio"] {
  display: none;
}

.state {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1e-5;
  pointer-events: none;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.text {
  margin-left: 16px;
  opacity: 0.6;
  transition: opacity 0.2s linear, transform 0.2s ease-out;
  animation: fade 2.5s ease;
}

.indicator {
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #fae0eb;
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  box-shadow: -4px -2px 4px 0px #fae0eb, 4px 2px 8px 0px #fff;
}

.indicator::after {
  background-color: #fcf2f6;
  box-shadow: -4px -2px 4px 0px #fff, 4px 2px 8px 0px #fae0eb;
  transform: scale3d(1, 1, 1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.state:checked ~ .label .indicator::after {
  transform: scale3d(0.975, 0.975, 1) translate3d(0, 10%, 0);
  opacity: 0;
}
.state:checked ~ .label .indicator::after {
  transform: scale3d(0.975, 0.975, 1) translate3d(0, 10%, 0);
  opacity: 0;
}

.state:focus ~ .label .text {
  transform: translate3d(8px, 0, 0);
  opacity: 1;
}

.label:hover .text {
  opacity: 1;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  /*home*/
  * {
    padding: 0;
    margin: 0;
  }
  .s-main {
    width: 100%;
  }
  .s-container {
    width: 95%;
    margin: auto;
    overflow: scroll;
    flex-direction: row;
  }
  .s-main h1 {
    text-align: center;
    font-size: 26px;
  }
  .s-main p {
    text-align: center;
    font-size: 13px;
  }
  .radiogroup {
    width: 100%;
    padding: 20px;
  }
  .radiogroup h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    opacity: 85%;
  }
  .radiogroup label {
    font-weight: 200;
    font-size: 14px;
  }

  /* NAVIGATION */
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .header-link h1 {
    font-size: 28px;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .menuItems {
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .menuItems.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .menuItems {
    opacity: 0%;
  }
  .nav-item {
    font-size: 25px;
  }
  .menuItems li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .menuItems li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .menuItems li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}
