@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #898989;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
}
/* HOME PAGE */
.main-sec {
  display: flex;
  width: 75%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  animation: fade 2.5s ease;
}
.intro-container {
  flex: 1;
  background-color: rgba(252, 252, 252, 0.7);
  margin: 0px 50px 0px 0px;
}
.img-container img {
  border-radius: 1vw;
  position: absolute;
  padding: 25px;
  height: 75%;
  top: 10%;
  right: 10%;
  z-index: -1;
  opacity: 0.9;
}
.intro {
  font-size: 20px;
  font-weight: 100;
}
.intro h1 {
  font-size: 40px;
  background: linear-gradient(to right, #898989, #c6c2c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: drop 1.5s ease;
}
.intro p {
  margin: 0;
}
.btn-container {
  padding: 50px 0px 0px 0px;
}
.start-btn {
  padding: 1.25em 2em;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  font-weight: 700;
  color: #382b22;
  text-transform: uppercase;
  background: #fff0f0;
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}
.start-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #edc2d4;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}
.start-btn:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}

.start-btn:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
.start-btn:active {
  background: #ffe9e9;
  transform: translate(0, 0.75em);
}

.start-btn:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

/* RESULT PAGE */
.r-sec {
  display: flex;
  width: 85%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: drop 1.5s ease;
}
.r-main {
  padding: 15px;
  margin-top: 25px;
}
.r-container {
  display: flex;
}
.r-container h3 {
  flex: 1;
  font-size: 25px;
  text-align: left;
}
.r-container p {
  flex: 2;
  font-size: 18px;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 10px;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* SPINNER */
.loader {
  color: #d3d3d3;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/* SURVEY CSS */

@media screen and (max-width: 800px) {
  /*home*/
  * {
    padding: 0;
    margin: 0;
  }
  .intro h1 {
    font-size: 30px;
  }
  .intro p {
    font-size: 15px;
  }
  .intro-container {
    margin: auto;
    margin-top: 1vh;
    width: 100%;
    text-align: center;
    background-color: #fff;
    opacity: 85%;
    overflow: scroll;
  }
  .btn-container {
    margin: 1px;
    padding: 8px;
  }
  .img-container {
    margin: auto;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }

  /*load*/
  .r-sec p {
    font-size: 15px;
    text-align: center;
  }
  .r-sec h1 {
    font-size: 30px;
  }
  .r-sec h3 {
    font-size: 15px;
    text-align: left;
    padding: 5px;
  }
  .r-container p {
    font-size: 15px;
    text-align: right;
    padding: 5px;
  }
  .r-sec {
    width: 95%;
  }
  /* NAVIGATION */
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .header-link h1 {
    font-size: 28px;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .menuItems {
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .menuItems.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .menuItems {
    opacity: 0%;
  }
  .nav-item {
    font-size: 25px;
  }
  .menuItems li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .menuItems li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .menuItems li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}
